.secao {
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  padding: 0 1rem;
}
.secaoTitulo {
  display: flex;
  align-items: center;
}

.secaoTitulo h1 {
  padding-right: 3rem;
  font-family: Helvetica NeueRegular;
  font-size: 20px;
  font-weight: bold;
}
.secaoTitulo img {
  width: 22px;
  transition: 0.5s;
}

.secaoTitulo .arrowDown {
  transform: rotate(180deg);
  transition: 0.5s;
}

details {
  transition: height 0.5s ease;
  overflow: hidden;
}

details:not([open]) {
  height: 2em;
}

details[open] {
  height: 20em;
}

.secao p {
  margin: 1rem 1rem 0 0;
  font-family: Helvetica NeueRegular;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}

@media (min-width: 760px) {
  .secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10rem auto;
    width: 70%;
  }
  .secao aside {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 3rem;
  }
  .secao p {
    margin: 2rem 2rem 0 0;
  }
  .secaoTitulo img {
    display: none;
  }
  details[open] {
    padding-top: 3rem;
  }
}
