.formulario {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.formulario .containerLabel {
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.msgSucesso {
  color: green;
  font-family: Helvetica NeueBold;
  font-size: 14px;
}
.msgErro {
  color: red;
  font-family: Helvetica NeueBold;
  font-size: 14px;
}
.formulario label {
  font-family: Helvetica NeueRegular;
  font-size: 13px;
}
.formulario .inputTexto {
  width: 95%;
  height: 2rem;
  margin: 1rem 0;
  border: 1px solid #707070;
  font-family: Helvetica NeueRegular;
  font-weight: bold;
}
.formulario .labelRadio:nth-child(1) {
  padding-right: 3rem;
}
.formulario .radio {
  margin-right: 0.5rem;
}
.formulario .btnEnviar {
  width: 95%;
}

@media (min-width: 760px) {
  .formulario {
    height: 30vh;
  }
  .formulario .inputTexto {
    width: 16vw;
  }
  .formulario .inputTexto {
    padding-left: 0.5rem;
  }
  .formulario .labelRadio:nth-child(1) {
    padding-right: 2rem;
  }
  .formulario .btnEnviar {
    width: 100%;
  }
}
